# Node
node_modules/
dist/
build/
.next/
out/

# Java
target/
*.jar
*.war
*.ear
.mvn/
mvnw
mvnw.cmd

# IDEs
.idea/
.vscode/
*.iml

# Logs
logs/
*.log
tree.txt

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
.env
